* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: serif;
  font-style: italic;
  position: relative;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.1)),
    url(img--1.jpg);
  background-size: cover;
}

.hero-main {
  max-width: 60rem;
  margin: 5rem auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 3.2rem;
  /* position: relative; */
}
.hero-head {
  font-size: 1.8rem;
  margin-bottom: 1.2rem;
  line-height: 1.2;
  letter-spacing: 1.1px;
  font-weight: 600;
  color: #fff;
}
.hero-dis {
  font-size: 1.4rem;
  line-height: 1.2;
  letter-spacing: 1.1px;
  font-weight: 500;
  margin-bottom: 1.2rem;
  color: #fff;
}
.about-company {
  font-size: 1.2rem;
  line-height: 1.3;
  letter-spacing: 1.1px;
  color: #fff;
}
.hero-mains {
  max-width: 60rem;
  margin: 5rem auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 3.2rem;
}
.btn {
  display: inline-block;
  cursor: pointer;
  border: none;
  padding: 0.8rem 1.6rem;
  border-radius: 11px;
  margin: 1.4rem;
  font-size: 1.6rem;
  text-transform: capitalize;
  font-weight: 600;
  background-color: #ffece12f;
  color: #fff;
  transition: all 0.3s;
}
.btn:hover {
  transform: translateY(4px);
}
.products-head {
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1.2;
  letter-spacing: 1.1px;
  color: #fff;
}
.products {
  font-size: 1.4rem;
  font-weight: 600;
  margin-bottom: 1rem;
}
li {
  font-weight: 500;
  margin: 0.8rem;
}
.mix-head {
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.2;
  letter-spacing: 1.1px;
}
.pros {
  position: absolute;
  width: 40rem;
  top: 20%;
  left: 20%;
  background-color: white;
  padding: 6rem;
  border-radius: 5px;
  box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.3);
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: center;
}
.close-modal {
  display: inline-block;
  cursor: pointer;
  border: none;
  font-size: 2.4rem;
  margin-left: 15rem;
  margin-bottom: 10rem;
}

.mixes {
  position: absolute;
  top: 20%;
  left: 10%;
  background-color: #fff;
  padding: 2.4rem;
  background-color: white;
  padding: 6rem;
  border-radius: 5px;
  box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.3);
  z-index: 10;
  height: 20rem;
  display: flex;
  margin-right: 1.2rem;
}
.lists1 {
  display: none;
}
.lists2 {
  display: none;
}
.shadow {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.705);
  backdrop-filter: blur(3px);
  z-index: 5;
}
.hidden {
  display: none;
}
.more-info {
  max-width: 60rem;
  margin: 5rem auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1.2rem;
}
.more-info-head {
  font-size: 1.8rem;
  font-weight: 600;
  margin-bottom: 1.2rem;
  letter-spacing: 1.1px;
  color: #fff;
}
.more-info-dis {
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 1.1px;
  color: #fff;
}
.choose-img {
  width: 100%;
  height: 20rem;
  box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.1);
  border-radius: 11px;
}
.img {
  width: 18rem;
}
.btn1 {
  display: inline-block;
  cursor: pointer;
  border: none;
  padding: 0.6rem 1.2rem;
  border-top-right-radius: 25px;
  border-bottom-left-radius: 25px;
  font-size: 1.2rem;
  text-transform: capitalize;
  font-weight: 500;
  background-color: #ffece12f;
  color: #fff;

  transition: all 0.3s;
}
.btn1:hover {
  transform: translateY(4px);
}
footer {
  max-width: 60rem;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 1.2rem;
  border-bottom: 2px solid rgba(0, 0, 0, 0.26);
  font-weight: 500;
  font-size: 1.2rem;
  color: #fff;
}
.contacts {
  max-width: 30rem;
  padding: 3.2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: linear-gradient(rgb(0, 128, 0), rgba(0, 153, 0, 0.301));
  box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.3);
  position: absolute;
  top: 30%;
  left: 30%;
  z-index: 10;
}
.contacts-us {
  padding: 0.6rem 0.8rem;
  font-size: 1.2rem;
  font-weight: 500;
  border-radius: 11px;
  text-align: center;
}
.last-btn {
  display: inline-block;
  cursor: pointer;
  border: none;
  width: 8rem;
  padding: 0.6rem 0.8rem;
  font-size: 1.2rem;
  font-weight: 500;
  border-radius: 11px;
  margin-top: 1.2rem;
}
label {
  font-size: 1.4rem;
}
.close-model {
  display: inline-block;
  cursor: pointer;
  border: none;
  font-size: 1.8rem;
  padding: 3px;
  border-radius: 50%;
  margin-left: 1.2rem;
}
.hide {
  display: none;
}
